* {
    box-sizing: border-box;
    
    
  }


.row{
    padding: 10px

}
.column {
    float: left;
    padding-left: 10%;
    
}


/*LEFT COLUM SIDE BAR*/
.column left{
    width:10%
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width:10%;/* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
     /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #A020F0; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
  }

  .sidenav a {  
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    display: block;
  }



/*Right Column Spaces Selector, Jouney/Community Selector, Main Content*/
.column right{
    width:90%
}



