<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LMP</title>
        <link rel="stylesheet" href="static/base.css">
    </head>
<body>
    

    
    <!--Left Column-->
      <div class="column left">
        <!--SideBar-->
        <div class="sidenav">
            <a href="{{url_for('main.account')}}">My Profile</a>
            <a href="#">Search</a>
            <a href="#">Notifications</a>
            <a href="#">Help</a>
          </div>
      </div>
    
    
    <!--Column Right-->
    <div class="column right">
    <!--Spaces Selector-->
    
    <div class="row">
        <div class="module-selector">
            <button class="module-selector-content">
                {%for module in enrolled_modules%}
                    <a href="module?module={{module}}">{{module}}</a>
                {%endfor%}
            </button>
        </div>
    </div>
    

    <!--Community/Journey Selector-->
    {% if 'module' in request.path%}<!--Only show if user is in a module page-->
    <div class="row">
        <a href="module?module={{code}}&type=community">Community</a>
        <a href="module?module={{code}}&type=materials">Materials</a>
        <a href="module?module={{code}}&type=assignments">Assignments</a>
    </div>
    {% endif %}
    
    <div class="row">
    <div class="maincontent">
    <!--Main Content eg.posts or files when on Journey-->
    <h1>Main Content</h1>
    {% block main %}
    {% endblock %}
    </div>
    </div>

    </div>
</body>
</html>