<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LMP</title>
        <link rel="stylesheet" href="static/login.css">
    </head>
<body>
<div class="row">
    <h1>Login</h1>
    <form class="login-form" method="POST">
    <div class="input-field">
        <input id="email" name="email" type="email">
        <label for="email">Email Address</label>
    </div>
    <div class="input-field">
        <input id="password" name="password" type="password">
        <label for="password">Password<label>
    </div>
    <div class="submit-button">
        <button type="submit">Submit</button>
    </div>
    </form>
</div>


<div class="row">
  <a href="">Create Account</a>
</div>
</body>