<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LMP</title>
        <link rel="stylesheet" href="static/base.css">
    </head>
<body>
<div class="row">
    <h1>SignUp</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form class="login-form" method="POST" action="/signup">
    <div class="input-field">
        <input id="email" name="email" type="email">
        <label for="email">Email Address</label>
    </div>
    <div class="input-field">
        <input id="password" name="password" type="password">
        <label for="password">Password<label>
    </div>
    <div class="input-field">
        <input id="name" name="name" type="text">
        <label for="name">Name<label>
    </div>
    <div class="input-field">
        <input id="level" name="level" type="number">
        <label for="level">Level<label>
    </div>
    <div class="submit-button">
        <button type="submit">Submit</button>
    </div>
    </form>
</div>



</body>
</html>

